body{
    background:linear-gradient(to right,skyblue,rgb(169, 64, 158));
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height:100vh;
}
.container{
    background:linear-gradient(to right,rgb(69, 178, 205),rgb(80, 80, 132));
    padding: 60px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px gray;
    text-align: center;
    width: 300px;
}
#word{
    font-size:24px;
    margin:20px;
    font-weight: bold;
}
.h{
    padding: 20px;
    border-radius: 20px;
    
}
button{
    margin-top:15px;
    padding:30px;
    background-color: rgb(150, 186, 225);
    color:black;
    border:rgb(154, 97, 13);
    font-weight: bold;
    border-radius: 20px;
    cursor: pointer;
}
.stats{
    display:flex;
    justify-content:space-around;
}
#gameover{
    margin-top: 15px;
    font-weight: bold;
    color:rgb(206, 52, 10);
}